{
  "printWidth": 88,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react",
    "^react-dom/*",
    "^react-router-dom",
    "^@reduxjs/toolkit",
    "^./(.*).css",
    "^../(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@/actions/*",
    "^@/components/*",
    "^@/constants/*",
    "^@/hooks/*",
    "^@/lib/*",
    "^@/pages/*",
    "^@/reducers/*",
    "^@/store/*",
    "^@/utils/*",
    "^@/types/*",
    "^@/__fixtures__/*"
  ],
  "importOrderSeparation": true
}
